h1 {
    color:darkorange;
    text-align: center;
    font-size: 64px;
}

a {
    color:brown;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.menu {
    padding-left: 50 px
}

.meny a:hover {
    color: aqua;
}

forma.form {
    display: flex;
    flex-direction: column;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.forma input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
    margin: 10PX 15PX 15PX 10PX;
}
h3 {
    text-align: center;
}
img {
    image-orientation: center;
}
h2 {
    text-align: center;
}
.content a{
    text-align: center;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68.
}
